/* Contact Hero Section */
.hero-section {
    background: linear-gradient(rgba(134, 132, 55, 0.6), rgba(75, 50, 141, 0.322)), url('https://images.unsplash.com/photo-1542744173-8e7e1f422177') no-repeat center center/cover;
    color: var(--light-color);
    padding: 100px 20px;
    text-align: center;
    border-radius: 10px;
    margin-top: 20px;
}

.hero-title {
    font-family: var(--font-heading);
    font-size: 3.5rem;
    margin-bottom: 15px;
    animation: fadeInDown 1s ease-in-out;
}

.hero-subtitle {
    font-size: 1.2rem;
    max-width: 800px;
    margin: 0 auto;
    animation: fadeInUp 1.2s ease-in-out;
}


@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}